h1, h2, p {
    font-family: "Inter";
    font-weight: normal;
    color: black;
}

/* NAVIGATION */
.nav-menu {
    list-style-type: none;
    background-color: black;
    margin: 0;
    padding: 0;
    overflow: hidden;
} 

.nav-menu li {
    float: left;
}

.nav-menu li a {
    display: block;
    font-family: "Inter";
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-menu li a:hover {
    background-color: purple;
}

/* HERO */

.hero {
    text-align: center;
    margin: auto;
    width: 50%;
    padding-top: 50px;
    padding-bottom: 50px;
}
.hero h1 {
    font-size: 65px;
}

.hero h2 {
    font-size: 40px;
}

/* DEV STACK */

.dev-stack {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 100px;
} 

/* FEATURED PROJECTS */

.projects {
    display: flex;
    justify-content: center;
}

.featured {
    display: flex;
    flex-direction: row;
    max-width: 90%;
    height: 300px;
    justify-content: space-around;
    align-items: center;
}

.featured-project {
    max-width: 30%;
    text-align: center;
}

.featured-project img{
    width: 100%;
    height: auto;
}

.featured-project img:hover {
    transform: scale(1.2);
    transition-duration: 1s;
}