h1, h2 {
    font-family: "Inter";
    font-weight: normal;
    color: black;
}

/* NAVIGATION */
.nav-menu {
    list-style-type: none;
    background-color: black;
    margin: 0;
    padding: 0;
    overflow: hidden;
} 

.nav-menu li {
    float: left;
}

.nav-menu li a {
    display: block;
    font-family: "Inter";
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-menu li a:hover {
    background-color: orangered;
}

/* HERO */

.hero {
    text-align: center;
    margin: auto;
    width: 50%;
    padding-top: 50px;
    padding-bottom: 50px;
}
.hero h1 {
    font-size: 65px;
}

.hero h2 {
    font-size: 40px;
}

/* DEV STACK */

.dev-stack {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
} 
